<nav>
    <div id="nav-container">
        <h1>Writing Room</h1>
        <div class="nav-content">
            <h3>Share your stories</h3>
            <ul class="nav-titles">
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/create">New Blog</a></li>
            </ul>
        </div>
    </div>
</nav>