<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="not-found">
        <p>Page not found!</p>
        <a href="/">Go Back to Home Page</a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>