<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section id="main-container">
        <h3>About Us</h3>
        <div class="about-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cupiditate deserunt deleniti labore, vel nihil? Porro repudiandae iure atque consectetur quam, magni aperiam necessitatibus perspiciatis, reiciendis esse vitae sit beatae ab. Sapiente ipsa quod quaerat. Nihil repellendus soluta atque quae ut distinctio enim beatae temporibus maxime, ad consequatur ipsa sed odit fugit consequuntur et impedit hic, quibusdam nesciunt. Natus non consequatur ipsa incidunt voluptate ea est eveniet, voluptates quibusdam ex recusandae nihil cum culpa suscipit! Amet excepturi velit, recusandae alias totam aut, eaque expedita aspernatur placeat perspiciatis aliquid corrupti dignissimos nulla perferendis culpa doloribus aperiam ipsa? Consectetur, non. Ducimus, temporibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cupiditate deserunt deleniti labore, vel nihil? Porro repudiandae iure atque consectetur quam, magni aperiam necessitatibus perspiciatis, reiciendis esse vitae sit beatae ab. Sapiente ipsa quod quaerat. Nihil repellendus soluta atque quae ut distinctio enim beatae temporibus maxime, ad consequatur ipsa sed odit fugit consequuntur et impedit hic, quibusdam nesciunt. Natus non consequatur ipsa incidunt voluptate ea est eveniet, voluptates quibusdam ex recusandae nihil cum culpa suscipit! Amet excepturi velit, recusandae alias totam aut, eaque expedita aspernatur placeat perspiciatis aliquid corrupti dignissimos nulla perferendis culpa doloribus aperiam ipsa? Consectetur, non. Ducimus, temporibus!</p>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>