<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section id="main-container">
        <h3>Submit Your Blog</h3>
        <form action="/" method="POST">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog body:</label>
            <textarea type="text" id="body" name="body" required></textarea>
            <button id="submit">Submit</button>
        </form>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>